/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    margin: 0 auto;
    font-family: Helvetica Neue, arimo;
    height: 2000px;
}

body h1 h2 h3 h4{
    font-family: Bebas;
}

header {
    width: 76%;
    margin: 0 auto;
    margin-top: 20px;
    height: 75px;
}

header img{
    margin-left: 25px;
}

header h3{
    display: flex;
}

nav{
    float: right;
    padding-top: 10px;
    display: inline;
}

nav a{
    padding-right: 15px;
    text-decoration: none;
    font-size: 20px;
    color: grey;
    font-weight: bold;
}

nav span{
    color: #e8603c;
}

.container1{
    display: flex;
}

.container1 h1{
    background-color: rgba(232, 102, 60);
    padding-bottom: 19px;
    padding-top: 19px;
    width: 100%;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
}

.container1 img{
    padding-top: 21px;
}

#id1 h4{
    color: rgba(232, 102, 60);
}

#id1 p{
    color: grey;
}

#id2{
    width: 80%;
    margin-left: 70px;
}

#id2 h3{
    color: rgba(232, 102, 60);
    margin-bottom: 30px;
}

.container2{
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
    margin-left: 250px;
}

.container3{
    float: left;
    margin-left: 150px; 
    margin-top: -400px;
}

.container4{
    padding-top: 10px;
    margin: 0 auto;
    width: 50%;
    margin-left: 250px;
    display: flex;
}

.container5{
    padding-top: 10px;
    margin: 0 auto;
    width: 50%;
    margin-left: 250px;
    display: flex;
}

.container5 p{
    margin-top: 40px;
}

.container5 h1{
    color: rgba(232, 102, 60);
    padding-right: 2px;
    font-size: 45px;
}

.container6{
    margin: 0 auto;
    width: 50%;
    margin-left: 250px;
    margin-top: 200px;
}

.container6 img{
    width: 940px;
    height: 402px;
}

.container7{
    margin: 0 auto;
    width: 50%;
    margin-left: 250px;
    margin-top: 200px;
}

.container7 img{
    width: 940px;
    height: 402px;
}

.container8{
    display: flex;
    margin: 0 auto;
    width: 50%;
    margin-left: 250px;
    margin-top: 60px;
    margin-bottom: 200px;
}

.container8 p{
    margin-right: 60px;
}

.sideicon4{
    margin-left: 150px;
    float: left;
    margin-top: -20px;
}

#iconblog4{
    margin-top: -15px;
}

#iconblog4 img{
    width: 30px;
    height: 30px;
}

.container9{
    display: flex;
    margin: 0 auto;
    margin-left: 280px;
    margin-bottom: 100px;
    width: 40%;
}

.container9 p{
    margin-top: -10px;
    margin-left: 20px;
    font-style: italic;
    font-weight: lighter;
}

.sideicon5{
    margin-left: 150px;
    float: left;
}

.container10{
    margin: 0 auto;
    margin-left: 250px;
    margin-bottom: 100px;
    width: 50%;
}

.container10 h3{
    color: rgba(232, 102, 60);
}

#freebies{
    color: grey;
}

.pageselect{
    margin: 0 auto;
    margin-left: 250px;
    margin-bottom: 100px;
}

.button1{
    background-color: rgba(232, 102, 60);
    border: none;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.button2, .button3{
    border: none;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: rgba(243, 177, 157);
}



.alertboxes{
    margin: 0 auto;
    width: 50%;
    margin-left: 250px;
    text-align: center;
    margin-bottom: 50px;
}

.alertbox1{
    background-color: rgb(239, 253, 185); 
    color: green;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border: 1px solid green;
}

.alertbox2{
    background-color: rgb(251, 203, 193);
    color: red;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border: 1px solid red;
}

.alertbox3{
    background-color: rgb(255, 233, 173);
    color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border: 1px solid orange;
}

.alertbox4{
    background-color: rgb(209, 227, 243);
    color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border: 1px solid blue;
}

.sidecontainer1{
    float: right;
    max-width: 15%;
    margin-top: -370px;
    margin-right: 350px;
}

.sidecontainer1 h4{
    color: rgba(232, 102, 60);
}

.sidecontainer2{
    float: right;
    max-width: 20%;
    margin-right: 490px;
    margin-top: -150px;
}

.sidecontainer2 h4{
    color: rgba(232, 102, 60);
}

.sidecontainer3{
    float: right;
    max-width: 12%;
    margin-top: -180px;
    margin-right: 400px;
}

.sidecontainer3 h4{
    color: rgba(232, 102, 60);
}

.sideicon2{
    margin-left: 150px;
    margin-top: -400px;
    float: left;
}

.sideicon3{
    margin-left: 150px;
    margin-top: -400px;
    float: left;
}

.bottomboxleft img{
    padding-right: 20px;
    width: 225px;
    height: 380px;
}

.bottomboxright img{
    padding-left: 20px;
    width: 225px;
    height: 380px;
}

.footer{
    background: rgba(232, 102, 60);
    width: 100%;
    height: 350px;
    display: flex;
    color: white;
    padding-top: 35px;
}

.footeritem{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

span{
    color: #ffc3a5;
}

footer{
    display: flex;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
